*.png
*.pkl
.idea/
__pycache__/
*.csv
*.json
*.csv.gz
*.zip
data/
.ipynb_checkpoints
*.ipynb
.bash_history
.python_history
.cache
*.npy
*.sh
.DS_Store
project/output/
project/data_preparation/quickdraw_original
